body {
    background-color: $color_bg_white;
    font-family: $font_poppins;
    color: $color_text;
    font-size: 16px;
    font-weight: 400;

    overflow-x: hidden;

    a {
        text-decoration: none;
        transition: $transition;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    main{
        overflow-x: hidden;

        section{
            overflow-x: hidden;
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
        width: 50px;
        height: 50px;
        line-height: 46px;
        border-radius: 50%;
        background-color: $color_white;
        text-align: center;
        box-shadow: $shadow_1;
        transition: $transition;

        svg {
            color: $color_primary;
            transition: $transition;
        }

        &:hover {
            background-color: $color_primary;

            svg {
                color: $color_white;
            }
        }
    }

    .section-gap {
        padding: 100px 0;
        position: relative;

        &::after {
            position: absolute;
            max-width: 1270px;
            height: 1px;
            background: $color_border;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    .section-title {
        .subtitle {
            color: $color_primary;
            letter-spacing: 2px;
            display: block;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family: $font_montserrat;
        }

        .title {
            font-size: 50px;
            font-weight: 700;
            line-height: 1.2;
            color: $color_text;
            margin-top: 15px;
            margin-bottom: 0;
            font-family: $font_montserrat;
        }
    }


    // Responsive
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .section-title {
            .title {
                font-size: 40px;
            }
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .section-gap {
            padding: 80px 0;
        }

        .section-title {
            .title {
                font-size: 40px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .section-gap {
            padding: 80px 0;
        }

        .section-title {
            .title {
                font-size: 40px;
            }
        }
    }

    @media only screen and (max-width: 575px) {
        .section-title {
            .title {
                font-size: 30px;
            }
        }
    }

    // @media only screen and (max-width: 479px) {}

}